
%strong Chat Index

%strong #{errormessage}

%form{ :action => "/login/#{topic}", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
    %label{:for => "avatar"} Avatar URL:
    %input{:type => "text", :name => "avatar", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}