
%strong Chat Index

%form{ :action => "/login/test", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}