
:javascript
  window.onload = function() { 
    document.getElementById("message").focus(); 
  }

%form{ :action => "/publish/test", :method => "post"}
  %fieldset
    %label #{username}:
    %select{:name => "style"}
      %option says to
      %option WHISPSERS TO"
    %select{:name => "to"}
      - usernames.each do |user|
        - if lastuser and user == lastuser
          %option{:selected => true } #{user}
        - else
          %option #{user}

    %input{:type => "text", :id => "message", :name => "message", :class => "text"}         
    %input{:type => "submit", :value => "Send", :class => "button"}